<div
  class="bg-gray-50 rounded-xl shadow p-6 border border-gray-100 flex flex-col items-center"
>
  <h2 class="text-xl font-bold mb-4 <%= title_color %> text-center">
    <%= title %>
  </h2>
  <%= chart %>
</div>
