<div class="flex flex-col gap-10 mb-10">
  <div
    class="bg-gray-50 rounded-xl shadow p-6 border border-gray-100 flex flex-col items-center"
  >
    <h2 class="text-xl font-bold mb-4 color-green text-center">
      Distribuição do Tempo de Empresa
    </h2>
    <% if @eda[:tenure_distribution].present? %> 
    <%= bar_chart @eda[:tenure_distribution], height: '320px', library: {title: {text: '', fontSize: 0}} %> 
    <% else %>
    <div class="text-gray-400 text-lg mt-16 mb-16">Sem dados disponíveis</div>
    <% end %>
  </div>

  <% feedback_boxplot_data = eda[:feedback_boxplot] || [] %> 
  <% if feedback_boxplot_data.compact.present? %> 
  <%= render 'chart_card', title:'Boxplot de Feedback Geral', title_color: 'color-green', chart: bar_chart({
  "Mínimo" => feedback_boxplot_data[0], "Q1" => feedback_boxplot_data[1],
  "Mediana" => feedback_boxplot_data[2], "Q3" => feedback_boxplot_data[3],
  "Máximo" => feedback_boxplot_data[4] }, height: '320px', library: {title:
  {text: '', fontSize: 0}}) %> 
  <% else %>
  <div
    class="bg-gray-50 rounded-xl shadow p-6 border border-gray-100 flex flex-col items-center"
  >
    <h2 class="text-xl font-bold mb-4 color-green text-center">
      Boxplot de Feedback Geral
    </h2>
    <div class="text-gray-400 text-lg mt-16 mb-16">Sem dados disponíveis</div>
  </div>
  <% end %>

  <div
    class="bg-gray-50 rounded-xl shadow p-6 border border-gray-100 flex flex-col items-center"
  >
    <h2 class="text-xl font-bold mb-4 color-green text-center">
      Estatísticas Descritivas Gerais
    </h2>
    <% if eda[:summary_stats].present? %>
    <div class="flex flex-wrap gap-4 justify-center">
      <% eda[:summary_stats].each do |stat, value| %>
      <div
        class="bg-white border border-gray-200 rounded-xl shadow p-4 w-40 min-w-[140px] flex flex-col items-center"
      >
        <div class="text-xs text-gray-500 mb-1 text-center"><%= stat %></div>
        <div class="text-xl font-bold text-center"><%= value %></div>
      </div>
      <% end %>
    </div>
    <% else %>
    <div class="text-gray-400 text-lg mt-16 mb-16">Sem dados disponíveis</div>
    <% end %>
  </div>
</div>
