services:
  db:
    image: postgres:16
    env_file:
      - ../.env.development
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  web:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -b 0.0.0.0"
    volumes:
      - ..:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - ../.env.development

volumes:
  db_data:
