<nav class="flex justify-center mt-4" aria-label="Pagination">
  <ul class="join">
    <% total_pages = paginator.instance_variable_get(:@options)[:total_pages] %>

    <!-- Prev -->
    <li>
      <% if current_page > 1 %> <%= link_to raw('&laquo;'), url_for(page:
      current_page - 1), class: 'join-item btn btn-sm bg-green color-black' %>
      <% else %>
      <span class="join-item btn btn-sm btn-disabled bg-green color-black"
        >&laquo;</span
      >
      <% end %>
    </li>

    <!-- Pages -->
    <% pagination_window(current_page, total_pages).each do |page| %>
    <li>
      <% if page == current_page %>
      <span class="join-item btn btn-sm bg-green color-black"><%= page %></span>
      <% else %> <%= link_to page, url_for(page: page), class: 'join-item btn
      btn-sm bg-white ' %> <% end %>
    </li>
    <% end %>

    <!-- Next -->
    <li>
      <% if current_page < total_pages %> <%= link_to raw('&raquo;'),
      url_for(page: current_page + 1), class: 'join-item btn btn-sm bg-green
      color-black' %> <% else %>
      <span class="join-item btn btn-sm btn-disabled bg-green color-black"
        >&raquo;</span
      >
      <% end %>
    </li>
  </ul>
</nav>
